
.top {

  margin-bottom: 5px;

}

.mid{
  clear:both;
  margin-top: 5px;
 margin-bottom: 5px;

}

.bottom{
  clear:both;
  margin-top: 5px;
}

.ContentWrapper{
  width: 940px;
  margin: auto;
}
.LangueAndUser{
float: right;
position: relative;
bottom:10px;

}
.MenueBar{
clear:both;
margin-top: 30px;
}
.MenueBar>ul>li{
display: inline;
float:left;
font-style: normal;
padding-left: 20px;

}

a{
color: black;
text-decoration:none;
}

.HeadLine{
font-size:150%;
}

.Part1Con,.Part2Con,.Part3Con{
margin: auto;
width:940px;
}

.Part1 .HeadLine{
padding-top:30px;
width: 250px;
}

.Part1 .Text,.Part1 .HeadLine,.AdvertisForComverse{
color:white;
}

.mid .Part1 .button{
  color: white;
  width: 80px;
  border-radius:4px;
  background-color:#4169E1;
  margin-top: 20px;
  margin-bottom: 20px;
padding-left: 3px;
}

.AdvertisForComverse{
height:100px; ;
}

.AdvertisForComverseBox1,.AdvertisForComverseBox2,.AdvertisForComverseBox3{
 float: left;
 width:300px;
 border-radius: 5px;

}
.AdvertisForComverseBox1{
  background-color: purple;
}
.AdvertisForComverseBox2{
  margin-left: 15px;
  background-color: green;
}

.AdvertisForComverseBox3{
  margin-left: 15px;
  background-color: orange;
}

.mid .Part1{
background-color: black;
}

.mid .Part2{
clear:both;
background-color: dodgerblue;
}



.Part2 .HeadLine,.Part3 .HeadLine{
  padding-top: 30px;
  text-align: center;
  color:white;
}

.WhatWeCanDoForYou>ul>li{
  display: inline;
  color:white;
  position: relative;
  padding-left: 10px;

}

.WhatWeCanDoForYou{
  padding-bottom: 35px;
}

.buttonCon{
padding-bottom: 40px;
}

.Part2 .button{
color: white;
width: 140px;
margin: auto;
border-radius:4px;
background-color:#4169E1;
}


.Part3{
  clear:both;
  background-color: blue;
}

.Hide{
visibility: hidden;
}

.EventsAndNews{
  margin-top: 20px;
  height: 130px;
}

.News,.Events{
  float: left;

}

.Events{
  margin-left: 12px;

}

.box{
border:2px solid green;
background-color: white;
width: 300px;

}


.bottomPart1 .HeadLine{
  text-align: center;
  padding-top: 30px;
}

.bottomPart2{
clear:both;
margin-top: 20px;
background-color: grey;
}

.SCS{
  height: 200px;
  margin-top: 30px;
}
.SC1Con,.SC3Con{
  margin-bottom: 8px;
  border: 1px solid blue;
}
.SC2Con{
  clear:both;
  border: 1px solid blue;

}
.SC1,.SC2,.SC3{
border:1px solid black;
width:200px;
float:left;
margin-left: 5px;
}

.logo{
border:1px solid green;
float:left;
width: 50px;
}

.SC2 .logo{
  margin-bottom: 8px;
}

.bottomPart1 .button{
  color: white;
  width: 140px;
  margin: auto;
  border-radius:4px;
  background-color:#4169E1;
}

.bottom .Part2Con{

}
.BottomList,.WeLoveLikes{
float:left;
height: 300px;
}

.BottomList+.BottomList,.WeLoveLikes{
margin-left: 60px;
}

.BottomList{
  padding-top: 20px;
}
.BottomList>ul{
  list-style: none;
  margin: 0;
  padding: 0;
   color: white;
}

.BottomListHeader{
  color: white;
}

.WeLoveLikes{
border: 2px solid black;
width: 225px;
}
.WeLoveLikesCon{
  margin: auto;
  width:200px;
}
.WeLoveLikes text{
  color: white;
}

.miniHeadLine{
color: blue;
padding-bottom: 13px;
}

.LikeUs{

}
.SIGNUPText{
  width: 120px;
}
.SIGNUP{
  width: 65px;
  border-radius: 5px;
  background-color: blue;
  padding: 4px;
}

.CopyRight{
clear: both;
margin-top: 5px;
}
