
.top {

  margin-bottom: 5px;
}

.mid{
  clear:both;
  border: 2px solid black;
  margin-top: 5px;
 margin-bottom: 5px;
}

.bottom{
  clear:both;
  margin-top: 5px;

}

.LangueAndUser{
float: right;
position: relative;
bottom:10px;
right:300px;
}
.MenueBar{
  padding-left: 300px;
}
.MenueBar>ul>li{
display: inline;
float:left;
font-style: normal;
padding-left: 20px;

}
a{
color: black;
text-decoration:none;
}

.HeadLine{
font-size:150%;

}
.Part1 .HeadLine{
padding-top:30px;
width: 250px;

}
.Part1 .Text,.Part1 .HeadLine,.AdvertisForComverse{
color:white;
}

.mid .Part1 .button{
  color: white;
  width: 80px;
  border-radius:4px;
  background-color:#4169E1;
  margin-top: 20px;
  margin-bottom: 20px;
padding-left: 3px;
}
.AdvertisForComverse{
height:100px; ;
}
.AdvertisForComverseBox1,.AdvertisForComverseBox2,.AdvertisForComverseBox3{
 float: left;
 max-width: 170px;
 border:2px ;
 border-radius: 5px;

}
.AdvertisForComverseBox1{
  background-color: purple;
}
.AdvertisForComverseBox2{
  margin-left: 15px;
  background-color: green;
}

.AdvertisForComverseBox3{
  margin-left: 15px;
  background-color: orange;
}

.mid .Part1{
background-color: black;

}

.mid .Part2{
clear:both;
background-color: dodgerblue;
}

.Part1Con,.Part2Con,.Part3Con{
margin-left: 300px;
}

.Part2 .HeadLine,.Part3 .HeadLine{
  padding-top: 30px;
  padding-left:50px;
  color:white;
}

.WhatWeCanDoForYou>ul>li{
  display: inline;
  color:white;
  position: relative;
  padding-left: 10px;

}

.Part2 .button{
color: white;
width: 140px;
margin-left: 200px;
border-radius:4px;
background-color:#4169E1;

}


.Part3{
  clear:both;
  background-color: blue;
}

.EventsAndNews{
  margin-top: 20px;
  height: 130px;
}

.News,.Events{
  float: left;
  max-width: 170px;

}

.Events{
  margin-left: 30px;
}
.box{
border:2px solid green;
background-color: white;
}


.bottomPart1 .HeadLine{
  padding-top: 30px;
  padding-left:200px;
  margin-bottom: 20px;
}

.bottomPart2{
clear:both;
margin-top: 20px;
border: 1px solid blue;
background-color: grey;
}
.SCS{
  height: 200px;
}
.SC1Con,.SC3Con{
  margin-bottom: 8px;
  border: 1px solid blue;
}
.SC2Con{
  clear:both;
  border: 1px solid blue;

}
.SC1,.SC2,.SC3{
border:1px solid black;
width:200px;
float:left;
margin-left: 5px;
}

.logo{
border:1px solid green;
float:left;
width: 50px;
}

.SC2 .logo{
  margin-bottom: 8px;
}
.bottomPart1 .button{
color: white;
width: 200px;
margin-left: 200px;
border-radius:4px;
background-color:#4169E1;
}

.BottomList,.WeLoveLikes{
float:left;
margin-left: 20px;
height: 300px;
}
.CopyRight{
clear:both;
margin-top 1px;
}
